spring:
  profiles:
    active: default

server:
  port: ${SERVER_PORT:8080}

management:
  server:
    port: ${MANAGEMENT_PORT:9000}
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      group:
        readiness:
          include: readinessState, customReadinessIndicator
      enabled: true
      show-details: always
      probes:
        enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
