name: Integration Tests

on: pull_request

jobs:
  build:
    name: Integration tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "corretto"

      - name: Cache local Maven repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Extract project version
        id: projectversion
        run: |
          PROJVERSION="$(make version)"
          echo "versionimage=${PROJVERSION}" >> $GITHUB_OUTPUT

      - name: Check if tag exists 1/2
        uses: mukunku/tag-exists-action@v1.4.0
        id: checkTag
        with:
          tag: ${{ steps.projectversion.outputs.versionimage }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check if tag exists 2/2
        run: |
          if [ "${{ steps.checkTag.outputs.exists }}" == "true" ]; then
            echo "Tag '${{ steps.projectversion.outputs.versionimage }}' exists."
            echo "Run 'make upgrade'."
            exit 1
          fi

      - name: Test
        run: make test